<div id="navbar" class="navbar-collapse collapse">
    <form class="navbar-form navbar-right" action="{{ url('login_check_route') }}" method="post">
        <div class="form-group">
            <input type="text" id="username" name="_username" placeholder="Логин" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" id="password" name="_password" placeholder="Пароль" class="form-control">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Вход</button>
    </form>
</div>