<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="modal-window-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-window-content"></div>
    </div>
</div>