{% for flash_message in app.session.flashbag.get('success') %}
    <div class="alert alert-success text-center" role="alert">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('info') %}
    <div class="alert alert-info text-center" role="alert">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning text-center" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger text-center" role="alert">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ flash_message }}
    </div>
{% endfor %}