{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ie10-viewport-bug-workaround.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        {% include 'admin/sidebar.html.twig' %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Панель администратора {% if section is defined %}&raquo; {{ section }}{% endif %}</h1>
            {% include 'admin/alertsbar.html.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bootstrap-confirmation.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover()
            $('[data-toggle="confirmation"]').confirmation({
                title: 'Вы уверены?',
                btnOkLabel: '<i class="icon-ok-sign icon-white"></i> Да',
                btnCancelLabel: '<i class="icon-remove-sign"></i> Нет',
                singleton: true,
                popout: true
            })
        });
    </script>
{% endblock %}