{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/grid.css') }}">
{% endblock %}

{% block body %}
    <h3><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> Продукты</h3>
    {% for product in products %}
        <div class="row">
            <div class="col-md-4">{{ product.name }}</div>
            <div class="col-md-4">{{ product.category.name }}</div>
        </div>
    {% endfor %}
{% endblock %}