{#{% if admin.hasroute('list') and admin.isGranted('LIST')%}#}
    <a class="sonata-action-element" href="{{ url('sonata_warehouses_cells_create') }}">
        <i class="fa fa-plus-circle"></i>
        {{ 'Add new cell'|trans({}, 'SonataAdminBundle') }}</a>
{#{% endif %}#}