<a class="sonata-action-element" href="{{ url('sonata_'~object.department.type~'_warehouse_cells_create', { 'warehouseId': object.id } ) }}">
    <i class="fa fa-plus-circle"></i>
    {{ 'Add new cell'|trans({}, 'SonataAdminBundle') }}</a>