{% extends '@Admin/base.html.twig' %}

{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#">Пропорции</a></li>
        <li role="presentation"><a href="#">Едининцы измерения</a></li>
        <li role="presentation" class="active"><a href="{{ url("show_system_settings") }}">Системные настройки</a></li>
    </ul>
    <h2 class="sub-header">
        Системные настройки
    </h2>
{% endblock %}